.edit {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-title {
    font-size:20px;
    margin-bottom: 10px;
}
.club-post {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.club-post-wrapper {
    width: 700px;
    height: 100px;
}